#chooseSignHeader{
  font-size: 2rem;
  background: linear-gradient(90deg, lightskyblue , lightcoral );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#chooseSign{
  margin-bottom: 2.4rem;
  text-align: center;
}

#chooseSignRadio{
  width:100%;
  margin: auto;
  text-align: center;
}

#Circle, #Cross{
  padding-top: 0.1rem;
  margin: 0.5rem;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

#CrossLabel{
  color: lightskyblue;
}

#CircleLabel{
  color: lightcoral;
}

#CircleLabel, #CrossLabel{
  font-size: 1.4rem;
  margin-right: 2rem;
  cursor: pointer;
}