body {
  margin: 0 auto;
  font-family:"Comic Neue", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
